@import '../../style/variable.global.css';

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.summaryRowText {
  color: var(--primary);
  font-size: var(--fontSizeNormal);
  margin: 0;
}

.summaryRowPrice {
  margin: 0;
  font-size: var(--fontSizeSubtitle);
}
