@import '../../style/variable.global.css';

.bookingModificationSummaryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.horizontalRule {
  border: 0;
  border-top: 2px solid var(--primary);
  margin: 8px 0;
  width: 100%;
}

.totalSummaryRow > .price {
  font-size: var(--fontSizeSubtitle);
}

.bold {
  font-weight: var(--fontWeightBold);
}

.bigText {
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
}

.bigPrice {
  font-size: var(--fontSizeTitle);
}
