@import '../../style/variable.css';

.option {
  align-items: center;
  color: var(--deepBlue);
  display: flex;
  justify-content: space-between;
}

.label {
  align-items: center;
  display: flex;
}

.label i {
  font-size: 0.9em;
  margin-left: var(--marginSmall);
}

.label i:before {
  color: var(--deepBlue);
}

.price {
  display: inline-flex;
  font-weight: var(--fontWeightBold);
}

.currency-after {
  flex-direction: row;
}

.currency-before {
  flex-direction: row-reverse;
}
