@import '../../style/variable.css';

.input {
  box-sizing: border-box;
  color: var(--deepBlue);
  border: 2px solid var(--metalGrey);
  border-radius: var(--inputBorderRadius);
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
  flex: 1;
  margin-top: 0.25rem;

  &::placeholder {
    opacity: 0.8;
    color: var(--metalGrey);
  }

  &:focus {
    border-color: var(--yellow);
  }
}

.inputWithError {
  border-color: var(--red) !important;
}
