@import '../../style/variable.global.css';

.container {
  position: relative;
}

.input {
  box-sizing: border-box;
  color: var(--deepBlue);
  border: 2px solid var(--metalGrey);
  border-radius: var(--inputBorderRadius);
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
  flex: 1;
  flex-basis: auto;
  margin-top: 0.25rem;

  &::placeholder {
    opacity: 0.8;
    color: var(--metalGrey);
  }

  &:focus {
    border-color: var(--yellow);
  }
}

/* Hide big cross in IE */
.input::-ms-clear {
  display: none;
}

.inputWithError {
  border-color: var(--red) !important;
}

.inputPrepend {
  align-items: center;
  color: var(--darkGrey);
  display: flex;
  font-size: 2rem;
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
}

.inputAppend {
  align-items: center;
  color: var(--darkGrey);
  display: flex;
  font-size: 2rem;
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
}
