@import '../../style/variable.global.css';

.container {
  position: relative;
}

.input {
  box-sizing: border-box;
  color: var(--primary);
  border: 1px solid var(--neutral);
  border-radius: var(--radiusLarge);
  display: block;
  height: 40px;
  padding: var(--spaceExtraSmall) var(--spaceSmall);
  flex: 1;
  flex-basis: auto;
  margin-top: calc(var(--spaceExtraSmall) / 2);

  &::placeholder {
    opacity: 0.8;
    color: var(--neutral);
  }

  &:focus {
    border-color: var(--accent);
  }
}

/* Hide big cross in IE */
.input::-ms-clear {
  display: none;
}

.inputWithError {
  border-color: var(--error) !important;
}

.inputPrepend {
  align-items: center;
  color: var(--darkNeutral);
  display: flex;
  font-size: 2rem;
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
}

.inputAppend {
  align-items: center;
  color: var(--darkNeutral);
  display: flex;
  font-size: 2rem;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 3px;
}
