@import '../../style/variable.global.css';

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--marginXLarge);
  padding: var(--marginSmall);
}

.text {
  align-items: flex-start;
  display: flex;
  flex: 1;
}

.textMobile {
  display: none;
}

.tooltip {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: var(--marginSmall);
}

.rewardValue:after {
  content: ' ';
}

@media (--maxPurchaseCanalMinWidth) {
  .textDesktop {
    display: none;
  }
  .textMobile {
    display: inline;
  }
}
