@import '../../style/variable.global.css';

.card {
  display: flex;
  padding: var(--noMargin);
  max-height: 100%;
  border-radius: var(--borderRadius);
  background-color: var(--seventhColor);
  box-shadow: 0px 0px 38px -2px rgba(0, 0, 0, 0.15);
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.image {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  display: block;
  height: var(--marginXLarge);
  width: var(--marginLarge);
}

.imageBig {
  height: auto;
  width: 62px;
}
