@import '../../style/variable.global.css';

.selected {
  border-radius: 100%;
  color: var(--white);
  background-color: var(--accent);
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
