@import '../../style/variable.global.css';

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--marginXLarge);
  padding: var(--marginSmall);
}

.text {
  align-items: center;
  display: flex;
  flex: 1;
}

.tooltip {
  align-items: center;
  display: flex;
  margin-left: var(--marginSmall);
}

.rewardValue:after {
  content: ' ';
}
