@import '../../style/variable.css';

.headerContainer {
  border-radius: 1rem;
  background-color: var(--seventhColor);
}

.image {
  width: 100%;
}

.desktopImage {
  display: block;
}

.mobileImage {
  display: none;
}

@media (--maxMobile {
  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }
}
