@import '../../style/variable.global.css';

.selected {
  border-radius: 100%;
  color: var(--seventhColor);
  background-color: var(--secondColor);
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
