@import '../../style/variable.global.css';

.card {
  display: flex;
  padding: 0;
  max-height: 100%;
  border-radius: var(--borderRadius);
  background-color: var(--background);
  box-shadow: 0 0 38px -2px rgba(0, 0, 0, 0.15);
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.imageContainer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom-right-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  width: var(--marginLarge);
}

.imageContainerBig {
  width: 65px;
}

@media (--maxMobile) {
  .imageContainer {
    display: none;
  }
}
