@import '../../style/variable.css';

.card_title {
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: var(--fontWeightRegular);
  margin: 0;
  margin-bottom: 1rem;
}

@media (--maxMobile) {
  .card_title {
    font-size: 1.3rem;
  }
}
