{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "react/no-did-update-set-state": 0,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],

    // Airbnb linter warnings fix
    "func-names": [
      "error",
      "never"
    ],

    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],

    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "react/button-has-type": 0,

    // Indent with 4 spaces
    "indent": ["error", 2],

    // Indent JSX with 4 spaces
    "react/jsx-indent": ["error", 2],

    // Indent props with 4 spaces
    "react/jsx-indent-props": ["error", 2],

    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "some": [ "nesting", "id" ]
      }
    }],

    "react/require-default-props": [1, { "forbidDefaultForRequired": true }]
  }
}
