@import '../../style/variable.global.css';

.button {
  background-color: var(--accent);
  border-radius: var(--radiusLarge);
  font-weight: var(--fontWeightBold);
  line-height: var(--fontSizeNormal);
  overflow: hidden;
  padding: var(--spaceSmall) var(--spaceLarge);
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.button span {
  position: relative;
}

.button[disabled] {
  background-color: var(--lightAccent);
  cursor: not-allowed;

  &:hover {
    background-color: var(--lightAccent);
  }
}

.button.fetching {
  background-color: var(--lightAccent);
}

.buttonLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
