@import '../../style/variable.global.css';

.button {
  background-color: var(--yellow);
  border-radius: var(--borderRadius);
  cursor: pointer;
  display: block;
  font-size: var(--fontSizeRegular);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0.8em 1.1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.button span {
  position: relative;
}

.button .track {
  animation: outFromFetching 0.2s linear forwards;
  background-color: var(--yellow);
  border-radius: var(--borderRadius);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0%;
}

.button[disabled] {
  background-color: #7890a3;
  cursor: not-allowed;

  &:hover {
   background-color: #7890a3;
 }
}

.button.fetching {
  background-color: #ffcd026b;
}

.track.fetchingTrack {
  animation: fetching 3s cubic-bezier(.33,.6,.3,.69) forwards;
  opacity: 1;
}

@keyframes fetching {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
}

@keyframes outFromFetching {
    from {
      opacity: 1;
      width: 100%;
    }

    to {
      opacity: 0;
      width: 100%;
    }
}
