/**
* This element has to be wrapped in a .steps div to increment the counter
*/

@import '../../style/variable.global.css';

.steps {
  display: flex;
  flex-direction: row;
  counter-reset: steps;
}

.step_button.active:before,
.step_button.active + .step_button:before,
.step_button.active + .step_button + .step_button:before {
  content: counter(steps);
}

.step_button {
  align-items: center;
  color: var(--aquaHazeGrey);
  display: flex;
  font-size: 1.1rem;
  margin-right: 3rem;
  position: relative;
  background-color: transparent;
  border: 0;
  counter-increment: steps;
  cursor: pointer;
  font-weight: 300;
  transition: all var(--animationDuration) ease-in-out;
  opacity: 1;

  &.active {
    color: var(--accent);
    cursor: default;
    &:before {
      background-color: var(--background);
    }
    &:after {
      border-right: 2px solid var(--white);
      content: '';
      height: 35px;
      left: 19px;
      position: absolute;
      top: 26px;
    }
  }

  &.done {
    &:before {
      content: '✓';
    }
  }

  &:before {
    align-items: center;
    background-color: #9EB3C2;
    border-radius: 50%;
    color: var(--primary);
    content: '7';
    display: flex;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    margin-right: 10px;
    width: 25px;
  }

  &:before,
  &:after {
    transition: all var(--animationDuration) ease-in-out;
  }

  &:hover {
    color: var(--white);
    &:before,
    &:after {
      background-color: var(--background);
    }

    &:active {
      transition: all 0s ease-in-out;
      opacity: 0.6;
    }
  }
}
