@import '../../style/variable.global.css';

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background);
  padding: var(--spaceSmall);
  border-top-left-radius: var(--radiusLarge);
  border-top-right-radius: var(--radiusLarge);
}

.title {
  color: var(--info);
  font-size: var(--fontSizeHeading);
  font-weight: var(--fontWeightRegular);
  margin: 0;
}

.description {
  color: var(--primary);
}

.icon {
  height: 45px;
  width: 45px;
}

.knowMore {
  color: var(--action);
  cursor: pointer;
  display: block;
  padding: 0;
  text-decoration: underline;
}

.punctuationKnowMore:after {
  content: '…';
}

@media (max-width: 1232px) {
  .cardContent {
    flex: 7;
    height: auto;
    padding: var(--spaceExtraSmall) var(--spaceSmall);
    border-radius: var(--radiusLarge);
  }

  .title {
    font-size: 20px;
    margin-right: 0;
  }

  .icon {
    display: none;
  }
}
