@import '../../style/variable.global.css';

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--lightNeutral);
  border-radius: var(--radiusLarge);
  padding: var(--spaceExtraSmall);
  margin-top: var(--spaceMedium);
  position: relative;
  width: 250px;
}

.optionCardContainerSelected {
  background-color: var(--accent);
}

.labelContainer {
  position: absolute;
  top:  calc(-1 * var(--fontSizeSmall));
  right: 8%;
  display: flex;
  align-items: center;
}

@media (max-width: 1232px) {
  .card {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: auto;
    margin-right: 0;
    width: 100%;
  }
}
