@import '../../style/variable.css';

.footerContainer {
    display: flex;
    justify-content: space-between;
    padding: var(--marginMedium) var(--marginSmall);
}

.price {
    color: var(--deepBlue);
    font-size: 35px;
    font-weight: var(--fontWeightRegular);
}

.deleteButton {
    background: none;
    border: 0;
    color: var(--blue);
    padding: 0;
    text-decoration: underline;
    font-style: italic;
    font-weight: var(--fontWeightLight);
    text-align: end;
}
