@import '../../style/variable.global.css';

.card {
  box-sizing: border-box;
  background-color: var(--lightNeutral);
  border-radius: var(--borderRadius);
  padding: 5px;
  margin-top: 25px;
  position: relative;
  width: 250px;
  height: 260px;
}

.optionCardContainerSelected {
  background-color: var(--accent);
}

.labelContainer {
  position: absolute;
  top: -10px;
  right: 8%;
  display: flex;
  align-items: center;
}

@media (max-width: 1232px) {
  .card {
    display: flex;
    flex: 1 1 auto;
    height: auto;
    margin-right: 0;
    width: 100%;
  }
}
