@import '../../style/variable.global.css';

.cardContent {
  box-sizing: border-box;
  background-color: var(--background);
  height: 220px;
  padding: var(--spaceSmall);
  border-radius: var(--radiusSmall);
}

.title {
  font-weight: var(--fontWeightLight);
  font-size: var(--fontSizeSubtitle);
  box-sizing: content-box;
  margin: 0 20px 0 0;
}

.description {
  color: var(--primary);
}

.icon {
  height: 45px;
  width: 45px;
}

.knowMore {
  color: var(--action);
  cursor: pointer;
  display: block;
  padding: 0;
  text-decoration: underline;
}

.punctuationKnowMore:after {
  content: '…';
}

@media (max-width: 1232px) {
  .cardContent {
    flex: 7;
    height: auto;
    padding: var(--spaceExtraSmall);
  }

  .title {
    font-size: 20px;
    margin-right: 0;
  }

  .icon {
    display: none;
  }
}
