@import '../../style/variable.global.css';

.bookingSteps {
  padding-left: var(--spaceLarge);
  font-size: var(--fontSizeNormal);
}

.firstBookingStep {
  padding-bottom: var(--spaceExtraSmall);
  position: relative;
}

.firstBookingStep:before {
  content: '';
  position: absolute;
  top: var(--spaceExtraSmall);
  left: calc(var(--marginMedium) * -1);
  margin-left: calc(var(--spaceExtraSmall) - 1px);
  bottom: calc(var(--spaceExtraSmall) * -1);
  border-right: 2px dotted var(--accent);
}

.stepName {
  font-size: 1.2em;
  font-weight: var(--fontWeightRegular);
  color: var(--primary);
  margin: 0;
  position: relative;
}

.stepName:before {
  position: absolute;
  content: '';
  width: var(--spaceExtraSmall);
  height: var(--spaceExtraSmall);
  top: 50%;
  left: calc(var(--marginMedium) * -1);
  border-radius: 50%;
  background-color: var(--accent);
  margin-top: calc(var(--spaceExtraSmall) * -1);
}

.bookingSteps div span {
  align-items: center;
  display: flex;
  font-size: 0.9em;
}
.bookingSteps div span i {
  /* margin-right: var(--spaceExtraSmall); */
  font-size: 0.7em;
  width: var(--spaceLarge);
}
