@import '../../style/variable.css';

.rideSummary {
  display: flex;
  flex-direction: column;
}

.rideSummaryTitle {
  color: var(--blue);
  font-size: var(--fontSizeSubtitle);
  margin: 0;
}

.rideSummaryText {
  margin: 0;
  color: var(--deepBlue);
}
