@import '../../style/variable.global.css';

.rideSummary {
  display: flex;
  flex-direction: column;
}

.rideSummaryTitle {
  color: var(--lightPrimary);
  font-size: var(--fontSizeSubtitle);
  margin: 0;
}

.rideSummaryText {
  margin: 0;
  color: var(--primary);
}
