@import '../../style/variable.global.css';

.container {
  display: flex;
  justify-content: space-between;
}

.bookingSteps {
  margin-right: var(--spaceLarge);
}

.pricingSummary {
  margin-left: var(--spaceLarge);
}
