@import '../../style/variable.css';

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 var(--marginMedium);
}

.left {
    display: flex;
}

.left > * {
    margin-right: var(--marginMedium);
}

.left > *:last-child {
    margin-right: 0;
}
