@import '../../style/variable.global.css';

.alert {
  margin-top: var(--marginMedium);
  margin-right: var(--spaceLarge);
  background-color: var(--lightNeutral);
  border-left: 5px solid var(--primary);
  padding:
    var(--spaceExtraSmall) var(--spaceMedium) var(--marginXSmall)
    var(--marginXMedium);
}

.alertTitle {
  font-weight: var(--fontWeightBold);
  display: flex;
}

.alertIconContainer {
  font-size: var(--fontSizeHeading);
  margin-right: var(--spaceExtraSmall);
}

.alertDescription {
  margin: 0;
}
