@import '../../style/variable.global.css';

.container {
  height: 0;
  position: absolute;
  width: 150%;
  top: 3.5rem;
  left: -25%;
  border-radius: var(--borderRadius);
  &.visible {
    height: 150px;
    min-height: 150px;
    background-color: var(--white);
    box-shadow: 0 0 15px 2px var(--darkMetalGrey);
  }
}

.arrowContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  top: -15px;
}

.arrow {
  color: transparent;
  &.visible {
     color: var(--white);
     text-shadow: 0 -5px 15px var(--darkMetalGrey);
  }
}

.splitContainer:before {
  background-color: var(--splitBorderColor);
  content: "";
  height: calc(75% - var(--marginMLarge));
  left: 50%;
  position: absolute;
  top: var(--marginMedium);
  width: 1px;
}
