@import '../../style/variable.global.css';

.container {
  position: relative;
  display: flex;
}

.button {
  color: var(--primary);
  padding: 0;
}

.suggestions {
  top: 100%;
  width: 220px;
  padding: var(--spaceSmall);
  margin-top: var(--spaceSmall);
  left: calc(50% - 130px);
  min-height: 0;
  height: auto;
}
