@import '../../style/variable.css';

.columns {
  display: flex;
}

.columns > div {
  flex: 1;
  border-spacing: var(--marginMedium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns > div> *  {
  height: 50px;
}

.leftColumn {
  margin-right: var(--marginSmall);
}

.columns:nth-child(2) {
  margin-left: 20px;
}

.flex {
  display: flex;
}

.leftRadio {
  margin-right: var(--marginSmall);
}

.inputLabel {
  margin-top: var(--marginLarge);
}
