@import '../../style/variable.css';

.columns {
  display: flex;
}

.columns > div {
  flex: 1;
  border-spacing: var(--marginMedium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns > div> *  {
  height: 50px;
}

.leftColumn {
  margin-right: var(--marginSmall);
}

.columns:nth-child(2) {
  margin-left: 20px;
}

.flex {
  display: flex;
}

.leftRadio {
  margin-right: var(--marginSmall);
}

.inputLabel {
  margin-top: var(--marginMLarge);
}

.titleRadio {
  flex-direction: column;
}

.genderPicker {
  margin-top: var(--marginSmall);
}

.error {
  text-align: left;
  color: var(--red);
}

.footerLabel {
  font-style: italic;
  font-size: var(--fontSizeLabel);
}

.card {}

.contentCard {}

.emailInputLabel {}

@media (--mobile) {
  .card {
    background: transparent;
    padding: 0;
  }
  .contentCard {
    padding: 0;
  }
  .columns {
    flex-direction: column;
  }
  .columns > div > * {
    height: auto;
  }
  .leftColumn {
    margin: 0 0 var(--marginSmall);
  }
  .inputLabel {
    margin-top: var(--marginSmall);
  }
  .emailInputLabel {
    display: none;
  }
}
