@import '../../style/variable.global.css';


.inputButtonContainerClassName {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.input {
  width: 100%;
  margin: 0 auto;
}
.input, .button {
  height: var(--fontSizeTitle);
}
.helpTextClassname {
  color: var(--metalGrey);
  font-style: italic;
  margin: 0;
}
.error {
  text-align: left;
  color: var(--red);
}
.iconContainer {
  align-items: center;
  border: 2px solid var(--metalGrey);
  border-left: 0;
  border-bottom-right-radius: var(--inputBorderRadius);
  border-top-right-radius: var(--inputBorderRadius);
  box-sizing: border-box;
  display: flex;
  height: var(--marginMLarge);
}
.iconContainer:empty {
  display: none;
}
.iconContainerFocussed {
  border-color: var(--yellow);
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.icon {
  color: var(--deepBlue);
  font-size: var(--fontSizeRegular);
  font-weight: var(--fontWeightRegular);
  margin: 0 var(--marginSmall);
}

@media (--minMobile){
  .input {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
  }
  .button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

@media (--maxMobile) {
  .inputButtonContainerClassName {
    display: block;
  }
  .inputContainerClassName {
    margin-bottom: var(--marginMedium);
  }
  .button {
    margin: 0 auto;
  }
}
