@import '../../style/variable.global.css';

.inputButtonContainerClassName {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.input {
  width: 100%;
  margin: 0 auto;
}

.input,
.button {
  height: 40px;
}

.button {
  margin-left: var(--spaceMedium);
  padding: var(--spaceExtraSmall) var(--spaceLarge);
}

.helpTextClassname {
  color: var(--neutral);
  font-style: italic;
  margin: 0;
}

.error {
  text-align: left;
  color: var(--error);
}

.iconContainer {
  align-items: center;
  border: 2px solid var(--neutral);
  border-left: 0;
  border-bottom-right-radius: var(--radiusLarge);
  border-top-right-radius: var(--radiusLarge);
  box-sizing: border-box;
  display: flex;
  height: var(--spaceExtraLarge);
}

.iconContainer:empty {
  display: none;
}

.iconContainerFocussed {
  border-color: var(--accent);
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.icon {
  color: var(--primary);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightRegular);
  margin: 0 var(--spaceExtraSmall);
}
