@import '../../style/variable.global.css';

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spaceLarge);
}

.title .element {
  font-size: 40px;
  font-weight: var(--fontWeightRegular);
  line-height: 1;
  margin: 0 0 var(--spaceExtraSmall);
}

.newTitle {
  font-size: var(--fontSizeTitle);
  font-weight: var(--fontWeightBold);
  line-height: 1;
  margin: 0;
}

.title .horizontalRule {
  border: 0;
  border-top: 2px solid var(--accent);
  margin: 0;
  width: var(--titleHrWidth);
}

@media (--maxMobile) {
  .title .element,
  .newTitle {
    font-size: var(--fontSizeSubtitle);
  }
}
