@import '../../style/variable.global.css';

.card {
  width: 400px;
}

.contentCard {
  align-items: flex-start;
  padding: 1rem 2rem;
}

.input {
  margin-bottom: var(--spaceExtraSmall);
  width: 100%;
}

.button {
  margin: var(--spaceExtraSmall) 0;
}

.error {
  color: var(--error);
}

.inputError {
  border-color: var(--error);
}

.forgottenPasswordLink {
  align-self: flex-end;
}

.emailTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
