@import '../../style/variable.global.css';

.labelContainer {
  color: var(--white);
  border-radius: var(--radiusLarge);
  font-size: var(--fontSizeSmall);
  padding: 0 var(--spaceExtraSmall);
  display: flex;
  align-items: center;
  z-index: 1;
}

.text {
  padding: 0 var(--spaceExtraSmall);
  font-weight: var(--fontWeightRegular);
  letter-spacing: 1px;
}

.primaryColor {
  background-color: var(--primary);
}

.lightPrimaryColor {
  background-color: var(--lightPrimary);
}

.neutralColor {
  background-color: var(--neutral);
}

.lightNeutralColor {
  background-color: var(--lightNeutral);
}

.darkNeutralColor {
  background-color: var(--darkNeutral);
}

.backgroundColor {
  background-color: var(--background);
}

.accentColor {
  background-color: var(--accent);
}

.lightAccentColor {
  background-color: var(--lightAccent);
}

.infoColor {
  background-color: var(--info);
}

.actionColor {
  background-color: var(--action);
}

.successColor {
  background-color: var(--success);
}

.errorColor {
  background-color: var(--error);
}

.bronzeColor {
  background-color: var(--bronze);
}

.silverColor {
  background-color: var(--silver);
}

.goldColor {
  background-color: var(--gold);
}

.platinumColor {
  background-color: var(--platinum);
}
