@import '../../style/variable.global.css';

.labelContainer {
  color: var(--white);
  border-radius: var(--radiusMedium);
  font-size: var(--fontSizeSmall);
  padding: 0 var(--spaceExtraSmall);
  display: flex;
  align-items: center;
}

.text {
  padding: 0 var(--spaceExtraSmall);
  font-weight: var(--fontWeightRegular);
  letter-spacing: 1px;
}

.primaryColor {
  background-color: var(--primary);
}

.successColor {
  background-color: var(--success);
}

.errorColor {
  background-color: var(--error);
}

.actionColor {
  background-color: var(--action);
}

.lightNeutralColor {
  background-color: var(--lightNeutral);
}
