@import '../../style/variable.global.css';

.labelContainer {
    border-radius: var(--inputBorderRadius);
    color: var(--white);
    font-size: var(--fontSizeLabel);
    padding: 0 var(--marginXSmall);
    display: flex;
    align-items: center;
}

.text {
    padding: 0 var(--marginXSmall);
    font-weight: var(--fontWeightRegular);
    letter-spacing: 1px;
}

.deepBlue {
    background-color: var(--deepBlue);
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

.melrose {
    background-color: var(--melrose);
}

.blue {
    background-color: var(--blue);
}

.lightGrey {
    background-color: var(--lightGrey);
}

.metalGrey {
    background-color: var(--metalGrey);
}

.darkMetalGrey {
    background-color: var(--darkMetalGrey);
}

.aquaHazeGrey {
    background-color: var(--aquaHazeGrey);
}

.orange {
    background-color: var(--orange);
}
