@import '../../style/variable.global.css';

.select {
  align-items: center;
  border-radius: var(--inputBorderRadius);
  border: 2px solid var(--metalGrey);
  box-sizing: border-box;
  color: var(--deepBlue);
  display: flex;
  height: 2.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
  position: relative;
}

.select:after {
  content: '\e954';
  font-family: 'icomoon';
  font-size: 80%;
  margin-right: var(--marginSmall);
  position: absolute;
  right: 0;
}

.select select {
  position: absolute;
  border: none;
  color: var(--deepBlue);
  padding-left: var(--marginSmall);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.opacity select {
  opacity: 0;
}

.placeholderColor select {
  color: var(--lightMetalGrey);
}

.select select::-ms-expand {
  display: none;
}

.select select:disabled {
  cursor: not-allowed;
}

.disabled {
  background-color: var(--lightGrey);
}

.inputWithError {
  border-color: var(--red) !important;
}
