@import '../../style/variable.global.css';

.container {
  position: relative;
  box-sizing: border-box;
  color: var(--deepBlue);
  border: none;
  border-radius: var(--marginXSmall);
  display: block;
  height: var(--marginXLarge);
  padding: 0;
}

.shadowWrapper {
  background-color: var(--white);
  border-radius: var(--marginXSmall);
  box-shadow: 0 0 15px 2px var(--darkMetalGrey);
  display: flex;
  position: relative;
  z-index: 2;
}

.pickerInputContainer {
  display: flex;
  padding: 0 35px 0 15px;
  z-index: 2;
}

.pickerInput {
  border-radius: var(--marginXSmall);
  height: var(--marginXLarge);
  padding: 0;
  border: none;
  margin-top: 0;
  font-size: 15px;
}

.splitPickerInputContainer {
  border-left: 1px solid var(--splitBorderColor);
}

.suggestionsContainer {
  min-height: 150px;
  background-color: black;
  position: absolute;
  width: 150%;
  top: 3.5rem;
  left: -25%;
  border-radius: var(--borderRadius);
  border-width: 1px;
}

.error {
  background-color: var(--red);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--white);
  height: 45px;
  left: 0;
  opacity: 0;
  padding: var(--marginSmall);
  position: absolute;
  top: 0;
  transform: none;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100%;
}

.errorVisible {
  opacity: 1;
  transform: translateY(-40px);
}
