@import '../../style/variable.global.css';

.container {
  position: relative;
  box-sizing: border-box;
  color: var(--primary);
  border: none;
  border-radius: var(--spaceExtraSmall);
  display: block;
  height: 50px;
  padding: 0;
  z-index: 1;

  &.active {
    z-index: 4;
  }
}

.shadowWrapper {
  background-color: var(--background);
  border-radius: var(--spaceExtraSmall);
  box-shadow: var(--pickerBoxShadow);
  display: flex;
  position: relative;
  z-index: 2;
}

.pickerInputContainer {
  display: flex;
  padding: 0 35px 0 15px;
  width: 100%;
  z-index: 2;
}

.pickerInput {
  border-radius: var(--spaceExtraSmall);
  height: 50px;
  padding: 0;
  border: none;
  margin-top: 0;
  font-size: 15px;
}

.inputError {
  color: var(--error);
}

.splitPickerInputContainer {
  border-left: 1px solid var(--splitBorderColor);
}

.suggestionsContainer {
  min-height: 150px;
  background-color: #000000;
  position: absolute;
  width: 150%;
  top: 3.5rem;
  left: -25%;
  border-radius: var(--borderRadius);
  border-width: 1px;
}

.error,
.info {
  display: inline-table;
  background-color: var(--error);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--white);
  height: 45px;
  left: 0;
  opacity: 0;
  padding: var(--spaceExtraSmall);
  position: absolute;
  top: 5px;
  transform: none;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100%;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  word-break: break-word;
  hyphens: auto;
}

.info {
  background-color: var(--blue);
  color: var(--white);
}

.errorVisible,
.infoVisible {
  opacity: 1;
  transform: translateY(-100%);
}
