@import '../../style/variable.global.css';

.radioButton {
  align-items: center;
  display: flex;
  position: relative;
}

.radioButton * {
  box-sizing: border-box;
}

.button {
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--neutral);
  display: flex;
  height: 24px;
  width: 24px;
  justify-content: center;
}

.button:after {
  background-color: var(--accent);
  border-radius: 50%;
  content: '';
  display: none;
  height: 14px;
  width: 14px;
}

.input {
  position: absolute;
  opacity: 0;
}

.input:checked + .button:after {
  display: block;
}

.label {
  margin-left: var(--spaceExtraSmall);
}
