@import '../../style/variable.global.css';

.container {
  position: absolute;
  top: var(--spaceExtraSmall);
  right: var(--spaceExtraSmall);
  font-size: var(--fontSizeHeading);
}

.icon {
  fill: var(--lightPrimary);
}
