@import '../../style/variable.global.css';

.card {
  position: relative;
}

.cardContent {
  position: relative;
  justify-content: center;
}

.header {
  position: absolute;
  width: 100%;
  top: var(--spaceSmall);
  right: var(--spaceSmall);
}

.pendingDeletion {
  background-color: var(--lightNeutral);
  justify-content: center;
  padding: var(--marginMedium);
  text-align: center;
}

.footer {
  display: block;
}
