@import '../../style/variable.global.css';

.content {
  display: block;
  color: var(--deepBlue);
  text-align: center;
}

.brandIcon {
  width: 75px;
  align-self: center;
  margin-bottom: var(--marginSmall);
}

.contentHalfLine {
  line-height: .70em;
}
