@import '../../style/variable.global.css';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sentence {
  margin: var(--spaceExtraSmall) 0;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
