@import '../../style/variable.css';

.card {
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.3rem;
  min-width: 15rem;
  min-height: 10rem;
  position: relative;
}

.card_selected {
  background-color: var(--yellow);
}

.card_clickable {

  &:hover {
    cursor: pointer;
    background-color: var(--yellow);

    &:active {
      cursor: default;
    }
  }
}
.card_content {
  flex: 1;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card_footer {
  background-color: transparent;
  height: 3rem;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.label {
  position: absolute;
  top: -10px;
  right: 20px;
}
