@import '../../style/variable.global.css';

.card {
  background-color: var(--lightNeutral);
  display: flex;
  flex-direction: column;
  border-radius: var(--radiusMedium);
  padding: var(--spaceExtraSmall);
  position: relative;
}

.card_selected {
  background-color: var(--accent);
}

.card_clickable {
  &:hover {
    cursor: pointer;
    background-color: var(--accent);

    &:active {
      cursor: default;
    }
  }
}

.card_content {
  flex: 1;
  flex-basis: auto;
  position: relative;
  background-color: var(--background);
  border-radius: var(--radiusMedium);
  display: flex;
  flex-direction: column;
  padding: var(--spaceSmall);
}

.card_footer {
  background-color: transparent;
  height: 3rem;
  position: relative;
}

.footerComponent {
  display: inline-flex;
  justify-content: flex-end;
}

.label {
  position: absolute;
  top: -10px;
  right: var(--spaceSmall);
}
