@import '../../style/variable.global.css';

.withBackground {
  position: relative;
  z-index: 2;
}

.background {
  position: absolute;
  z-index: 1;
  height: 1.3rem;
  margin-top: -0.65em;
  top: 50%;
}

.withBackground.left {
  margin-left: var(--spaceExtraSmall);
}
