@import '../../style/variable.global.css';

.alert {
  align-items: center;
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  flex: 1;
  margin-bottom: var(--marginLarge);
  padding: var(--marginMedium);
  width: 100%;
}

.alert.success {
  background-color: var(--success);
}

.alert.error {
  background-color: var(--error);
}

.alert.warning {
  background-color: var(--orange);
}

.icon {
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--white);
  display: flex;
  font-size: 150%;
  height: var(--alertIconSize);
  justify-content: center;
  margin-right: var(--marginMedium);
  width: var(--alertIconSize);
}

.title {
  display: block;
  margin-bottom: var(--marginXSmall);
}

.alert p {
  margin: 0;
}
