@import '../../style/variable.global.css';

.tableRow {
  color: var(--darkGrey);
  width: fit-content;
}

.tableRow:hover {
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.15);
}

.checkedButton {
  padding-left: 8px;
  vertical-align: middle;
}

.checkedImg {
  width: 25px;
}

.paymentCardCell {
  border-bottom: 2px solid var(--lightGrey);
  padding: 0 var(--marginXXLarge) 0 var(--marginXMedium);
  vertical-align: middle;
}

.cardIcon {
  margin: 0 var(--marginSmall) 0 0;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.cardName {
  text-align: left;
  vertical-align: middle;
}

.lastFourDigits {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.hiddenDigits {
  font-size: var(--iconFontSize);
  margin-right: var(--marginXSmall);
  vertical-align: middle;
}

.deleteButtonCell {
  border-bottom: 2px solid var(--lightGrey);
  padding: var(--marginSmall) var(--marginSmall);
}

.expireAt {
  text-align: center;
}

.deleteButton {
  background: none;
  border: 0;
  padding: 0;
}

.deleteIcon::before {
  color: var(--deepBlue);
}

.deleteIcon:hover::before {
  color: var(--red);
}

.clicked {
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.15);
  color: var(--deepBlue);
}
