@import '../../style/variable.global.css';

.title {
  display: flex;
  font-size: var(--fontSizeSubtitle);
  justify-content: space-between;
  margin-top: -0.75em;
  margin-bottom: var(--marginMedium);
}

.hidden {
  display: none;
}

.columns {
  display: flex;
}

.columns > div {
  flex: 1;
}

.firstSection {
  margin-right: var(--spaceLarge);
}

.secondSection {
  margin-left: var(--spaceLarge);
}

.footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.leftGenderPickerField {
  height: 44px;
}

.topGenderPickerField {
  height: 66px;
}

.genderPickerInputs {
  height: 100%;
  align-items: center;
}

.contactFormInput {
  margin-top: var(--spaceExtraSmall);
}

.postalCodeInput {
  max-width: 42%;
}

.phoneInput {
  width: 100%;
}
