@import '../../style/variable.global.css';

.field {
  align-items: center;
  display: flex;
  height: 44px;
  flex: 1;
  margin: var(--marginXSmall) 0;
}

.field .label {
  margin-right: 1em;
  width: 10em;
  max-width: none;
}

.field.mandatory .label {
  font-weight: var(--fontWeightBold);
}

.field.mandatory .label:after {
  content: '*';
}
