@import '../../style/variable.global.css';

.calendar {
  position: relative;
  width: 100%;
  height: 300px;
}

.calendarArrow {
  display: none;
}

.datePickerPopper {
  transform: none !important;
  width: 100%;
  margin-top: 0 !important;
}

.hidden {
  display: none !important;
}

.pickerSuggestions {
  width: 610px !important;
  margin-left: -300px;
  left: 50%;
  height: 230px !important;

  &:before {
    display: none;
  }
}

.suggestionsArrow {
  margin-left: -9px;
}

.picker {
  box-sizing: border-box;
  height: auto;
}

.datePickerInput {
  background: none;
  padding-left: var(--marginMLarge);
}

.datePickerInput::placeholder {
  color: var(--darkGrey);
  font-style: italic;
}

.fixedWidthDateInput {
  min-width: 160px;
  width: 160px;
  max-width: 160px;
}

.timePickerInput {
  border: none !important;
  border-radius: 0;
  max-width: 100px;
  padding-left: calc(var(--marginLarge) + var(--marginXSmall));
  margin-right: 1px;
}

.timePickerInput::placeholder {
  color: var(--darkGrey);
  font-style: italic;
}

.timePickerInputContainer {
  margin-left: var(--marginSmall);
}

.timePickerInputContainer::before {
  background-color: var(--splitBorderColor);
  content: '';
  height: var(--marginMedium);
  margin-top: calc(var(--marginSmall) * -1);
  position: absolute;
  top: 50%;
  width: 1px;
}

.timeSuggestions {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  &:before, &:after {
    content: '';
    height: var(--marginMedium);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  &:before {
    background: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0.1));
    border-top-left-radius: var(--marginXSmall);
    border-top-right-radius: var(--marginXSmall);
    top: 0;
  }

  &:after {
    background: linear-gradient(to top, var(--white), rgba(255, 255, 255, 0.1));
    bottom: 0;
    border-bottom-left-radius: var(--marginXSmall);
    border-bottom-right-radius: var(--marginXSmall);
  }
}

.timeSuggestionsContainer:nth-child(1) {
  width: 300px;
  min-width: 300px;
}

.timeSuggestionsContainer {
  width: 100%;
}

.inputIcon {
  font-size: 1.2rem;
  left: var(--marginSmall);
}

.inputContainer {
  padding: 0;
}

.splitInputContainer {
  display: flex;
  flex-direction: row;
  width: 50%;

  &:first-child {
    border-right: 1px solid var(--splitBorderColor);
  }
}

.month {
  color: var(--deepBlue);
}

.hr {
  height: 85%;
  width: 1px;
  position: absolute;
  left: 300px;
  background-color: var(--splitBorderColor);
  top: 7.5%;
}
