.calendar {
  position: relative;
  width: 100%;
  height: 300px;
}

.calendarArrow {
  display: none;
}

.datePickerPopper {
  transform: none !important;
  width: 100%;
  margin-top: 0 !important;
}

.hidden {
  display: none !important;
}

.pickerSuggestions {
  height: 275px !important;
  width: 620px !important;
  left: -50px;
}

.suggestionsArrow {
  margin-left: -22px;
}

.picker {
  width: 500px;
}

.datePickerInput {
  padding-left: 30px;
}

.fixedWidthDateInput {
  max-width: 150px;
}

.timePickerInput {
  border: none !important;
  max-width: 100px;
  padding-left: 30px;
}

.timeSuggestions {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.inputIcon {
  font-size: 1.2rem;
}

.splitInputContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.month {
  color: var(--deepBlue);
}
