.container {
  display: flex;
  flex-direction: row;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.timeDescription {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: right;
  padding-right: 15px;
  padding-top: 20px;
}

.timeDescriptionTitle {
  font-weight: bold;
}
