@import './font.css';

/**
** Those commented lines, specially margin: 0, breaks style of components.
** It also override a lot of styles when integrating this components library
*/

/**
** * {
**    box-sizing: border-box;
**    margin: 0;
** }
*/

body {
  font-family: 'gt_walsheim', 'Arial', 'Helvetica', sans-serif;
  font-size: var(--fontSizeRegular);
  color: var(--deepBlue);
  line-height: var(--lineHeight);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome outline fix */
button:focus {
  outline: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active {
    cursor: default;
  }
}

textarea:focus, input:focus{
  outline: none;
}
