@import './index.css';

:root {
  --iconFontSize: 2em;
  --defaultFontSize: 0.8em;
  --defaultMargin: 0;
  --containerWidth: 1232px;

  --firstColor: #163457;
  --secondColor: #ffcd02;
  --thirdColor: #4b4b50;
  --fourthColor: #32a0c5;
  --fifthColor: #9ca3ff;
  --sixthColor: #59c871;
  --seventhColor: #fefefe;

  --metalGrey: #d5d6d7;
  --darkMetalGrey: color(#d5d6d7 blackness(20%));
  --aquaHazeGrey: #9eb3c2;
  --lightGrey: #eceff6;
  --red: #ff5757;
  --orange: #f39c12;

  --deepBlue: var(--firstColor);
  --yellow: var(--secondColor);
  --grey: var(--thirdColor);
  --blue: var(--fourthColor);
  --melrose: var(--fifthColor);
  --green: var(--sixthColor);
  --white: var(--seventhColor);

  --bpDesktop: var(--containerWidth);
  --bpTablet: var(--containerWidth);
  --bpMobile: 600px;

  --fontSizeLabel: 11px;
  --fontSizeRegular: 16px;
  --fontSizeSubtitle: 22px;
  --fontSizeTitle: 40px;
  --fontSizeTotalPrice: 32px;
  --fontWeightThin: 100;
  --fontWeightLight: 300;
  --fontWeightRegular: 500;
  --fontWeightBold: 700;

  --marginTitle: 15px 0 15px 0;
  --lineHeight: 22px;
  --widthfull: 100%;
  --borderRadius: 8px;
  --inputBorderRadius: 3px;
  --inputFontSize: 11px;
  --textFontSize: 13px;
  --fontFamilies: 'gtwalsheim', 'Arial', 'Helvetica', sans-serif;
  --headerHeight: 86px;
  --mobileHeaderHeight: 60px;
  --titleHrWidth: 50px;
  --alertIconSize: 40px;
  --postCodeInputWidth: 80px;

  --logoHeight: 48px;
  --mobileLogoHeight: 20px;

  --noMargin: 0;
  --marginXSmall: 5px;
  --marginSmall: 10px;
  --marginMedium: 20px;
  --marginLarge: 30px;
  --marginXLarge: 50px;
  --marginXXLarge: 60px;
  --animationDuration: 0.3s;

  --bpTablet: 768px;
  --bpMobile: 480px;
  --bpMobileIPhoneFive: 320px;

  --maxImageSize: 24px;
}
