:root {
  --iconFontSize: 2em;
  --defaultFontSize: 0.8em;
  --defaultMargin: 0;
  --containerWidth: 1232px;

  --primary: #000031;
  --lightNeutral: #eceff6;
  --background: white;
  --accent: #f7d48a;
  --lightAccent: #f8e5b6;
  --action: #9ca3ff;
  --success: #59c871;
  --error: #df6262;

  --thirdColor: #4b4b50;
  --seventhColor: #fefefe;
  --eighthColor: #a2b4c2;

  --blue: #32a0c5;
  --metalGrey: #d5d6d7;
  --darkMetalGrey: color(#d5d6d7 blackness(20%));
  --aquaHazeGrey: #9eb3c2;
  --darkGrey: #a9b3c5;
  --orange: #f39c12;
  --lightMetalGrey: #dededf;

  --grey: var(--thirdColor);
  --white: var(--seventhColor);
  --bgrey: var(--eighthColor);
  --splitBorderColor: rgba(191, 196, 212, 0.52);

  --bpDesktop: var(--containerWidth);
  --bpTablet: var(--containerWidth);
  --bpMobile: 600px;

  --fontSizeLabel: 11px;
  --fontSizeMedium: 14px;
  --fontSizeRegular: 16px;
  --fontSizeRegularBig: 20px;
  --fontSizeSubtitle: 22px;
  --fontSizeNewTitle: 30px;
  --fontSizeTitle: 40px;
  --fontSizeTotalPrice: 32px;
  --fontWeightThin: 100;
  --fontWeightLight: 300;
  --fontWeightRegular: 500;
  --fontWeightBold: 700;

  --marginTitle: 15px 0 15px 0;
  --lineHeight: 22px;
  --widthfull: 100%;
  --borderRadius: 8px;
  --inputBorderRadius: 3px;
  --inputFontSize: 11px;
  --textFontSize: 13px;
  --textLineHeight: 17px;
  --fontFamilies: 'gtwalsheim', 'Arial', 'Helvetica', sans-serif;
  --headerHeight: 60px;
  --mobileHeaderHeight: 60px;
  --titleHrWidth: 50px;
  --alertIconSize: 40px;
  --postCodeInputWidth: 80px;

  --logoHeight: 48px;
  --mobileLogoHeight: 20px;

  --noMargin: 0;
  --marginXSmall: 5px;
  --marginSmall: 10px;
  --marginXMedium: 15px;
  --marginMedium: 20px;
  --marginMediumXL: 25px;
  --marginLarge: 30px;
  --marginMLarge: 40px;
  --marginXLarge: 50px;
  --marginXXLarge: 60px;
  --animationDuration: 0.3s;

  --bpTablet: 768px;
  --bpMobile: 480px;
  --bpMobileIPhoneFive: 320px;

  --maxImageSize: 24px;
  --pickerSuggestionsHeight: 275px;
  --pickerBoxShadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
}

@custom-media --maxTablet (max-width: 825px);
@custom-media --maxMobile (max-width: 480px);
@custom-media --maxPurchaseCanalMinWidth (max-width: 1130px);
@custom-media --maxIPhone5 (max-width: 320px);

@custom-media --minTablet (min-width: 768px);
@custom-media --minMobile (min-width: 480px);
@custom-media --minIPhone5 (min-width: 320px);

@value primary: var(--primary);
@value accent: var(--accent);
@value lightAccent: var(--lightAccent);
@value grey: var(--grey);
@value blue: var(--blue);
@value action: var(--action);
@value success: var(--success);
@value white: var(--white);
@value metalGrey: var(--metalGrey);
@value lightMetalGrey: var(--lightMetalGrey);
@value aquaHazeGrey: var(--aquaHazeGrey);
@value darkGrey: var(--darkGrey);
@value lightNeutral: var(--lightNeutral);
@value error: var(--error);
@value orange: var(--orange);
