:root {
  --iconFontSize: 2em;
  --defaultFontSize: 0.8em;
  --defaultMargin: 0;
  --containerWidth: 1232px;

  --firstColor: #163457;
  --secondColor: #ffcd02;
  --thirdColor: #4b4b50;
  --fourthColor: #32a0c5;
  --fifthColor: #9ca3ff;
  --sixthColor: #59c871;
  --seventhColor: #fefefe;

  --metalGrey: #d5d6d7;
  --darkMetalGrey: color(#d5d6d7 blackness(20%));
  --lightYellow: color(var(--yellow) whiteness(80%));
  --aquaHazeGrey: #9eb3c2;
  --darkGrey: #939baa;
  --lightGrey: #eceff6;
  --red: #ff5757;
  --orange: #f39c12;

  --deepBlue: var(--firstColor);
  --yellow: var(--secondColor);
  --grey: var(--thirdColor);
  --blue: var(--fourthColor);
  --melrose: var(--fifthColor);
  --green: var(--sixthColor);
  --white: var(--seventhColor);
  --splitBorderColor: rgba(191, 196, 212, 0.52);

  --bpDesktop: var(--containerWidth);
  --bpTablet: var(--containerWidth);
  --bpMobile: 600px;

  --fontSizeLabel: 11px;
  --fontSizeRegular: 16px;
  --fontSizeSubtitle: 22px;
  --fontSizeTitle: 40px;
  --fontSizeTotalPrice: 32px;
  --fontWeightThin: 100;
  --fontWeightLight: 300;
  --fontWeightRegular: 500;
  --fontWeightBold: 700;

  --marginTitle: 15px 0 15px 0;
  --lineHeight: 22px;
  --widthfull: 100%;
  --borderRadius: 8px;
  --inputBorderRadius: 3px;
  --inputFontSize: 11px;
  --textFontSize: 13px;
  --textLineHeight: 17px;
  --fontFamilies: 'gtwalsheim', 'Arial', 'Helvetica', sans-serif;
  --headerHeight: 86px;
  --mobileHeaderHeight: 60px;
  --titleHrWidth: 50px;
  --alertIconSize: 40px;
  --postCodeInputWidth: 80px;

  --logoHeight: 48px;
  --mobileLogoHeight: 20px;

  --noMargin: 0;
  --marginXSmall: 5px;
  --marginSmall: 10px;
  --marginMedium: 20px;
  --marginLarge: 30px;
  --marginMLarge: 40px;
  --marginXLarge: 50px;
  --marginXXLarge: 60px;
  --animationDuration: 0.3s;

  --bpTablet: 768px;
  --bpMobile: 480px;
  --bpMobileIPhoneFive: 320px;

  --maxImageSize: 24px;
  --pickerSuggestionsHeight: 275px;
}

@custom-media --maxTablet (max-width: 768px);
@custom-media --maxMobile (max-width: 480px);
@custom-media --maxIPhone5 (max-width: 320px);

@custom-media --minTablet (min-width: 768px);
@custom-media --minMobile (min-width: 480px);
@custom-media --minIPhone5 (min-width: 320px);

@value deepBlue: #163457;
@value yellow: #ffcd02;
@value grey: #4b4b50;
@value blue: #32a0c5;
@value melrose: #9ca3ff;
@value green: #59c871;
@value white: #fefefe;
@value metalGrey: #d5d6d7;
@value aquaHazeGrey: #9eb3c2;
@value darkGrey: #939baa;
@value lightGrey: #eceff6;
@value red: #ff5757;
@value orange: #f39c12;
