:root {
  --animationDuration: 0.3s;
  --lineHeight: 24px;

  /* Colors */
  --primary: #000031;
  --lightPrimary: #708399;
  --neutral: #C7CDDA;
  --lightNeutral: #ECEFF6;
  --darkNeutral: #A9B3C5;
  --background: #FFFFFF;
  --accent: #F7D48A;
  --lightAccent: #F8E5B6;
  --info: #F5B400;
  --action: #9CA3FF;
  --success: #59C871;
  --error: #DF6262;
  --bronze: #B96C47;
  --silver: #C6C6C6;
  --gold: #E6BA5E;
  --platinum: #A07584;

  --blue: #32A0C5;
  --darkMetalGrey: color(#D5D6D7 blackness(20%));
  --orange: #F39C12;
  --white: #FFFFFF;
  --splitBorderColor: rgba(191, 196, 212, 0.52);

  /* Font Sizes */
  --fontSizeSmall: 12px;
  --fontSizeNormal: 16px;
  --fontSizeHeading: 20px;
  --fontSizeSubtitle: 24px;
  --fontSizeTitle: 32px;

  /* Font Weights */
  --fontWeightThin: 100;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;

  /* Radiuses */
  --borderRadius: 8px;
  --radiusSmall: 15px;
  --radiusMedium: 30px;

  /* Spaces */
  --spaceExtraSmall: 8px;
  --spaceSmall: 16px;
  --spaceMedium: 24px;
  --spaceLarge: 32px;
  --spaceExtraLarge: 40px;

  /* Margins */
  --marginMedium: 20px;
  --marginXLarge: 50px;
  --marginXXLarge: 60px;

  /* Dimensions */
  --alertIconSize: 40px;
  --bpMobileIPhoneFive: 320px;
  --containerWidth: 1232px;
  --headerHeight: 60px;
  --iconFontSize: 2em;
  --maxImageSize: 24px;
  --pickerSuggestionsHeight: 275px;
  --titleHrWidth: 50px;

  --pickerBoxShadow: 0 4px 19px rgba(0, 0, 0, 0.1);
}

@custom-media --maxTablet (max-width: 825px);
@custom-media --maxMobile (max-width: 480px);
@custom-media --maxPurchaseCanalMinWidth (max-width: 1130px);

@value primary: var(--primary);
@value lightPrimary: var(--lightPrimary);
@value neutral: var(--neutral);
@value lightNeutral: var(--lightNeutral);
@value darkNeutral: var(--darkNeutral);
@value background: var(--background);
@value accent: var(--accent);
@value lightAccent: var(--lightAccent);
@value info: var(--info);
@value action: var(--action);
@value success: var(--success);
@value error: var(--error);
@value bronze: var(--bronze);
@value silver: var(--silver);
@value gold: var(--gold);
@value platinum: var(--platinum);
