@import '../../style/variable.global.css';

.subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--marginLarge);
}

.h2 {
  color: var(--deepBlue);
  font-size: var(--fontSizeSubtitle);
  font-weight: var(--fontWeightRegular);
  line-height: 1;
  margin: 0 0 var(--marginSmall);
}

.hr {
  border: 0;
  border-top: 2px dotted var(--aquaHazeGrey);
  margin: 0;
  width: var(--titleHrWidth);
}

@media (--maxPurchaseCanalMinWidth) {
  .h2 {
    margin: 0 0 var(--marginXSmall);
  }
}
