@import '../../style/variable.css';

.container {
  display: flex;
  flex-direction: column;
}

.container.left {
  flex-direction: row;
  align-items: center;
  &>.label {
     margin-right: 1em;
     width: 10em;
     max-width: none;
  }
}

.inputContainer {
  flex: 1;
}

.input {
  display: block;
  width: 100%;
}

.error {
  text-align: left;
  color: var(--red);
}

.mandatory {
  font-weight: var(--fontWeightBold);
}

.mandatory:after {
  content: '*';
}
