@import '../../style/variable.css';

.container {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  display: grid;
  grid-template-columns: 10em auto;
  align-items: center;
}

.leftLabel {
  padding-right: 1em;
}

.input {
  display: block;
  width: 100%;
  margin-top: 0;
}

.error {
  text-align: left;
  color: var(--red);
}

.mandatory {
  font-weight: var(--fontWeightBold);
}

.mandatory:after {
  content: '*';
}

.leftText {
  grid-column-start: 2;
}
