@import '../../style/variable.global.css';

.container {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  display: grid;
  grid-template-columns: 10em auto;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
}

.leftLabel {
  padding-right: 1em;
}

.input {
  display: block;
  width: 100%;
}

.error {
  text-align: left;
  color: var(--error);
  margin-left: var(--spaceExtraSmall);
}

.mandatory {
  font-weight: var(--fontWeightBold);
}

.mandatory:after {
  content: '*';
}

.leftText {
  grid-column-start: 2;
}

.tooltip {
  margin-left: var(--spaceExtraSmall);
}
