@import '../../style/variable.global.css';

/* The input_checkbox */
.input_checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  padding-top: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  height: 1.5rem;

  &:active {
    opacity: 0.6;
  }
}

/* Hide the browser's default checkbox */
.input_checkbox input {
  position: absolute;
  border: 0.15rem solid transparent;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 22px;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
  background-color: var(--white);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--metalGrey);
}

/* On mouse-over, add a grey background color */
.input_checkbox:hover input ~ .checkmark {
  border-color: var(--darkMetalGrey);
}

/* When the checkbox is checked, add a blue background */
.input_checkbox input:checked ~ .checkmark {
  background-color: transparent;
  border-color: var(--darkMetalGrey);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input_checkbox .checkmark:after {
  left: 3px;
  top: 3px;
  border-radius: 0.15rem;
  width: 12px;
  height: 12px;
  background-color: var(--yellow);
}
