@import '../../style/variable.global.css';

.suggestion {
  cursor: pointer;
  margin-bottom: var(--marginSmall);

  &:last-child {
    margin-bottom: 0;
  }
}

.zoneName {
  padding-left: 25px;
}

.selected, .hovered:not(.disabled):hover {
  font-weight: bold;
}

.disabled {
  color: var(--lightGrey);
  cursor: not-allowed;
}

.icon {
  margin-right: var(--marginSmall);
}

.activeIcon {
  color: var(--deepBlue);
}

.trainIcon {
  margin-left: 3px;
}
