@import '../../style/variable.global.css';

.suggestion {
  cursor: pointer;
  display: block;
  margin-bottom: var(--marginSmall);

  &:last-child {
    margin-bottom: 0;
  }
}

.zoneName {
  padding-left: 25px;
}

.selected, .hovered:hover {
  font-weight: bold;
}

.disabled {
  color: var(--darkGrey);
}

.icon {
  margin-right: var(--marginSmall);
  position: relative;
}

.activeIcon {
  color: var(--deepBlue);
}

.trainIcon {
  margin-left: 5px !important;
}

.mixedIcon {
  font-size: 19px;
  margin-left: 0 !important;
}

.airportIcon {
  margin-left: 2px !important;
}
