@import '../../style/variable.global.css';

.suggestionsContainer {
  position: relative;
  height: 75%;
  display: flex;
  flex-direction: row;
}

.suggestions {
  position: relative;
  overflow-x: scroll;
  display: none;
  flex-direction: column;
  width: 100%;
  padding: var(--marginMedium) 15px;

  &.visible {
    display: flex;
  }
}

.suggestionAction {
  display: none;
  padding-left: 15px;
  height: 25%;
  background-color: var(--lightGrey);
}

.suggestionActionVisible {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  padding-left: 42px;
}

.input::placeholder {
  color: var(--darkGrey);
  font-style: italic;
}

.inputImgIcon {
  height: 20px;
}

.inputIcon {
  font-size: 1.2rem;
  color: var(--deepBlue);
}

.stationIcon {
  margin-left: 2px;
}

.inputAction {
  cursor: pointer;
}
