@import '../../style/variable.global.css';

.suggestionsContainer {
  position: relative;
  height: 85%;
  display: flex;
  flex-direction: row;

  &:before, &:after {
    content: '';
    height: var(--marginMedium);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  &:before {
    background: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0.1));
    border-top-left-radius: var(--marginXSmall);
    border-top-right-radius: var(--marginXSmall);
    top: 0;
  }

  &:after {
    background: linear-gradient(to top, var(--white), rgba(255, 255, 255, 0.1));
    bottom: 0;
  }
}

.suggestions {
  position: relative;
  overflow-x: scroll;
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 15px;

  &.visible {
    display: flex;
  }
}

.suggestionAction {
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  padding-left: 15px;
  height: 15%;
  background-color: var(--lightGrey);
}

.suggestionActionVisible {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  padding: 0 35px 0 15px;
}

.input {
  margin-right: 25px;
}

.input::placeholder {
  color: var(--darkGrey);
  font-style: italic;
}

.inputImgIcon {
  height: 20px;
}

.inputIcon {
  color: var(--deepBlue);
  font-size: 1.2rem;
}

.leftInputIcon {
  align-items: center;
  display: flex;
  height: 100%;
  left: var(--marginSmall);
  top: 0;
  width: var(--marginLarge);
}

.leftInputIcon + input {
  box-sizing: border-box;
  margin: 0 0 0 25px;
}

.rightInputIconContainer {
  right: var(--marginSmall);
}

.rightInputIcon {
  height: 15px;
  width: 15px;
}

.stationIcon {
  margin-left: 2px;
}

.inputAction {
  cursor: pointer;
}

.toZoneSuggestion:hover {
  font-weight: bold;
}
