@import '../../style/variable.global.css';

.suggestion {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: var(--spaceExtraSmall);

  &:last-child {
    margin-bottom: 0;
  }
}

.zoneName {
  margin-left: var(--spaceExtraSmall);
}

.selected,
.hovered:hover {
  font-weight: bold;
}

.disabled {
  color: var(--darkNeutral);
}

.icon {
  position: relative;
}

.activeIcon {
  color: var(--primary);
}

.trainIcon {
  margin-left: 5px !important;
}

.mixedIcon {
  font-size: 19px;
  margin-left: 0 !important;
}

.airportIcon {
  margin-left: 2px !important;
}
