@import '../../style/variable.global.css';

.suggestion {
  cursor: pointer;
}

.zoneName {
  padding-left: 25px;
}

.selected, .hovered:not(.disabled):hover {
  font-weight: bold;
}

.disabled {
  color: var(--lightGrey);
  cursor: not-allowed;
}

.icon {
  color: var(--deepBlue);
}

.trainIcon {
  margin-left: 3px;
}
