@import '../../style/variable.global.css';

.inputsRow {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.travelingNumberFromInputLabel {
  margin: 1rem 0.5rem 1rem 0;
}

.travelingNumberToInputLabel {
  margin: 1rem 0 1rem 0.5rem;
}

.mandatorySentence {
  margin-top: var(--marginSmall);
  margin-left: var(--marginSmall);
}

.unknownTravelingNumberTo {
  display: inline-block;
  & > .unknownTravelingNumberToButton {
    float: right;
  }
}

@media (--maxTablet) {
  .travelingNumberFromInputLabel,
  .travelingNumberToInputLabel {
    margin: var(--marginSmall) auto;
  }
}

@media (--maxMobile) {
  .inputsRow {
    flex-direction: column;
  }
}
