@import '../../style/variable.css';

.inputsRow {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.travelingNumberFromInputLabel {
  margin: 1rem 0.5rem 1rem 0;
}

.travelingNumberToInputLabel {
  margin: 1rem 0 1rem 0.5rem;
}

.mandatorySentence {
  margin-top: var(--marginSmall);
  margin-left: var(--marginSmall);
}

.unknownTravelingNumberTo {
  float: right;
}

@media (max-width: 768px) {
  .inputsRow {
    flex-direction: column;
  }
  .travelingNumberFromInputLabel, .travelingNumberToInputLabel {
    margin: var(--marginSmall) auto;
  }
  .title {
    text-align: center;
  }
}

