@import '../../style/variable.global.css';

.addItemButton {
  background-color: var(--lightNeutral);
  padding: 5px;
  border-radius: var(--borderRadius);
  margin-top: 25px;
  margin-right: 25px;
  position: relative;

  &:hover {
    background-color: var(--accent);
  }
}
.forPaymentMethod {
  flex: 0 0 185px;
  border-radius: 8px;
  width: 185px;
}

.addItemButtonContent {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 1rem !important;
}

.addItemButtonPlus {
  color: var(--lightNeutral);
  font-size: 80px;
  font-weight: var(--fontWeightBold);
  line-height: 0.9;
  text-align: center;

  &.smallButtonPlus {
    font-size: 59px;
    margin-bottom: 15px;
  }
}

.addItemButtonLink {
  justify-self: flex-end;
  margin-bottom: var(--marginSmall);
}

.text {
  white-space: nowrap;
}

.linkCenter {
  justify-content: center !important;
}

@media (--maxMobile) {
  .addItemButton {
    margin-right: 0;
  }

  .addItemButtonPlus {
    font-size: 70px;
  }
}
