@import '../../style/variable.css';

.colorPicker {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
}
.badge {
  background: none;
  border-radius: 15px;
  border: 1px solid var(--deepBlue);
  height: 30px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 30px;
}

.badgeSelected {
  border-color: var(--yellow);
  border-width: 3px;
}

.transparent:before,
.transparent:after {
  background-color: #ccc;
  content: '';
  height: 1px;
  position: absolute;
  top: 15px;
  transform-origin: center center;
  width: 150%;
}
.transparent:before {
  transform: rotate(45deg);
  left: -5px;
}
.transparent:after {
  right: -5px;
  transform: rotate(-45deg);
}

.tooltip {
  position: relative;
  &:hover {
      &>.tooltipText {
          visibility: visible;
      }
  }
}

.tooltipText {
  visibility: hidden;
  display: block;
  min-width: 80px;
  background-color: var(--deepBlue);
  color: var(--white);
  text-align: center;
  position: absolute;
  border-radius: 8px;
  z-index: 1;
  left: -11px;
}
