@import '../../style/variable.global.css';

.genderPicker {
  display: flex;
}
.genderPicker label {
  margin-right: var(--marginMedium);
}
.genderPicker label:last-child {
  margin-right: 0;
}
.error {
  text-align: left;
  color: var(--red);
}
