@import '../../style/variable.css';

.name {
  color: var(--blue);
  display: flex;
  font-size: var(--fontSizeSubtitle);
  justify-content: space-between;
  margin-top: -0.75em;
}
.editIcon {
  margin-right: -0.75em;
}
.editButton {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
