@import '../../style/variable.global.css';

.name {
  display: flex;
  color: var(--lightPrimary);
  font-size: var(--fontSizeSubtitle);
  justify-content: space-between;
}

.editIcon:before,
.deleteIcon:before {
  color: var(--lightPrimary);
}

.editButton {
  position: absolute;
  top: var(--spaceExtraSmall);
  right: var(--spaceExtraSmall);
  font-size: var(--fontSizeHeading);
}
