@import '../../style/variable.global.css';

.footer {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  height: 2rem;
}

.checkIcon {
  color: var(--white);
  font-size: var(--fontSizeSubtitle);
}
