@import '../../style/variable.global.css';

.pendingDeletion {
  background-color: var(--lightNeutral);
  justify-content: center;
  padding: var(--marginMedium);
}

.pendingModification {
  padding: var(--marginMedium);
}

.pendingDeletion p {
  text-align: center;
}
