@import '../../style/variable.global.css';

.name {
  display: flex;
  font-size: var(--fontSizeSubtitle);
  justify-content: space-between;
}

.editIcon:before,
.deleteIcon:before {
  color: var(--primary);
}
