@import '../../style/variable.css';

.pendingDeletion {
  background-color: var(--lightGrey);
  justify-content: center;
  padding: var(--marginMedium);
}

.pendingDeletion p {
  text-align: center;
}
