@import '../../style/variable.global.css';

.button {
  align-items: center;
  color: var(--primary);
  display: flex;
  justify-content: center;
  padding: var(--marginXMedium);
  width: 100%;
}

.label {
  margin-left: var(--marginSmall);
}
