@import '../../style/variable.global.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: var(--iconFontSize);
  width: var(--iconFontSize);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {}