@import '../../style/variable.global.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: var(--spaceMedium);
  width: var(--spaceMedium);
  display: flex;
  align-items: center;
  margin-right: var(--spaceExtraSmall);
}
