@import '../../style/variable.global.css';

.phoneInput {
  display: flex;
  flex: 1 1 auto;
}

.countryLabel {
  padding-right: var(--spaceSmall);
}

.inputContainer {
  flex: 1 0 auto;
  margin-left: var(--spaceExtraSmall);
}

.selectImage {
  margin-right: var(--spaceExtraSmall);
  max-height: var(--maxImageSize);
  max-width: var(--maxImageSize);
}
