@import '../../style/variable.css';

.phoneInput {
  display: flex;
  flex: 1;
}
.phoneInput input {
  margin-left: var(--marginSmall);
  max-width: 150px;
}

.selectImage {
  margin-right: var(--marginSmall);
}

