@import '../../style/variable.global.css';

.phoneInput {
  display: flex;
  flex: 1;
}

.phoneInputCountryCode {
  flex: 1 0 var(--marginXLarge);
}

.phoneInput input {
  margin-left: var(--marginSmall);
}

.selectImage {
  margin-right: var(--marginSmall);
  max-height: var(--maxImageSize);
  max-width: var(--maxImageSize);
}

