@import '../../style/variable.global.css';

.deletionAlert {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deletionAlert p {
  margin: var(--spaceExtraSmall) 0;
  text-align: center;
  width: 100%;
}
.deletionButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
