@import '../../style/variable.global.css';

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hours, .minutes {
  flex-direction: column;
  overflow: scroll;
  position: relative;
  padding: 0 5px;
}

.hour, .minute {
  min-width: 20px;
  padding: 5px 10px;
  text-align: center;
  &:hover, &.selected {
    border-radius: var(--marginXSmall);
    cursor: pointer;
    font-weight: bolder;
  }
  &:hover {
     background-color: var(--lightYellow);
  }
  &.selected {
     background-color: var(--yellow);
  }
  &.disabled {
    color: var(--darkGrey);
  }
}
