@import '../../style/variable.global.css';

.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrow {
  width: 25px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: height .2s ease-in-out;
  &.left {
    left: 12px;
  }
  &.right {
    right: 12px;
   }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
   }
}

.arrowIcon {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: var(--lightGrey);
  transition: opacity .2s ease-in;
  opacity: 1;
  &.hiddenIcon {
    opacity: 0;
   }
}

.hours, .minutes {
  flex-direction: column;
  overflow: scroll;
  position: relative;
  margin: 0 var(--marginXSmall);
  scrollbar-width: none;
  &::-webkit-scrollbar {
     display: none;
  }
}

.hour, .minute {
  min-width: 20px;
  padding: 5px 10px;
  text-align: center;
  &:hover, &.selected {
    border-radius: var(--marginXSmall);
    cursor: pointer;
    font-weight: bold;
  }
  &:hover {
     background-color: var(--lightYellow);
  }
  &.selected {
     background-color: var(--yellow);
  }
  &.disabled {
    color: var(--darkGrey);
  }
}
